<section id="viewCatalog" class="background-img">
  <!--If there are one or more electronics-->
  {{#each items}}
            <div class="added-electronics">
  {{>catalog-item}}
          </div>

  {{else}}
    <div class="guest">
      There are no electronics found...
    </div>
  {{/each}}

</section>