<section class="search">
  <h1>Search</h1>

  <form class="search-form" method="GET">
    <input
      type="text"
      class="search-name"
      name="name"
      value="{{name}}"
      placeholder="Search Name..."
    />
    <input
      type="text"
      class="search-type"
      name="type"
      value="{{type}}"
      placeholder="Search Type..."
    />
    <button type="submit" class="btn-search">Search</button>
  </form>

  {{#each items}}
  <div class="search-result">
    <div class="search-list">
      {{>catalog-item}}
    </div>
  </div>
    {{else}}

   <div class="no-match">
                <p>No match was found!</p>
            </div> 
    {{/each}}
</section>